.inlineButton{
    background-color: red;
    display: inline-block;
    padding: 0.4em 0.8em;
    border-radius: 0.4em;
    /* box-shadow: inset -4px -4px 0px rgba(0, 0, 0, 0.1), inset 4px 4px 0px rgba(255, 255, 255, 0.32); */

}